.li {
  display: grid;
  width: 100%;
  grid-template-columns: 100px 380px;
  grid-template-rows: 30px 80px;
  column-gap: 20px;
}

.img {
  grid-column: 1/1;
  grid-row: 1/2;
  width: 100px;
  height: 100px;
}

.name {
    margin: 0;
}

.text {
    margin: 0;
    grid-column: 2/2;
    grid-row: 2/2;
}